<div [ngClass]="alert" class="alert" role="alert">
    <i class="fa fa-gg-circle"></i> A simple success alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alert = 'alert-info'"> Info </button> &nbsp;
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'"> Success </button>
<br>
<br>
<h3 [ngClass]="{'text-danger': properties.danger, 'text-info': !properties.danger }">
    <i class="fa fa-angellist"></i> Hello World!</h3>

<button (click)="properties.danger = !properties.danger" type="button" class="btn" [ngClass]="{'btn-danger': properties.danger, 'btn-info': !properties.danger}">Change</button>

<br><br>
<h3>Async Process</h3>
<button class="btn btn-primary" [disabled]="loading" type="button" name="button" (click)="execute()">
    <i class="fa" [ngClass]="{ 'fa-refresh fa-spin': loading, 'fa-save': !loading }"></i>
    <span *ngIf="!loading"> Save Changes</span>
    <span *ngIf="loading"> Please Wait..</span>
</button>